<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Refactoring Actions"
            id="msc.refactor.jcodecleaner.wizard.popup1"
            label="JCodeCleaner"
            icon="icons/wizard-icon.gif"
            visible="true">
         <menu
               label="Refactor"
               path="edit"
               id="org.eclipse.jdt.ui.refactoring.menu">
            <separator name="undoRedoGroup"/>
            <separator name="reorgGroup"/>
            <separator name="codingGroup"/>
            <separator name="reorgGroup2"/>
            <separator name="typeGroup"/>
            <separator name="typeGroup2"/>
            <separator name="codingGroup2"/>
            <separator name="typeGroup3"/>
            <separator name="jcodeCleanerGroup"/>
            <separator name="scriptGroup"/>
        </menu>
      <menu
               id="msc.refactor.jcodecleaner.menu"
               label="JCodeCleaner"
               path="org.eclipse.jdt.ui.refactoring.menu/jcodeCleanerGroup">
            <separator name="group" />    
     </menu>
        <action
        	label="JCodeCleaning Wizard"
            icon="icons/wizard-icon.gif"
            class="msc.refactor.jcodecleaner.wizard.controller.WizardAction"
            id="wizard.action1"            
            enablesFor="*"            
            menubarPath="org.eclipse.jdt.ui.refactoring.menu/msc.refactor.jcodecleaner.menu/group">            
      </action>       
      <!-- More actions -->
      
    </actionSet>
 </extension>

</plugin>
