<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
      id="wizard"
      name="Clean Code"
      point="org.eclipse.ui.newWizards">
   <category
         name="Code Cleaner Wizard"
         id="wizard.category1">
   </category>
   <wizard
         name="Code Cleaner"
         icon="icons/wizard.gif"
         category="wizard.category1"
         class="msc.refactor.codecleaner.wizard.view.CodeCleanerWizard"
         id="wizard.wizard1">
      <description>
      	Describe your holiday choices
      </description>
   </wizard>
</extension>

<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         objectClass="org.eclipse.core.resources.IFile"
         id="msc.refactor.codecleaner.wizard.popup1">
      <action
            label="Code Cleaner"
            icon="icons/action.gif"
            class="msc.refactor.codecleaner.wizard.controller.WizardWorkBenchAction"
            id="wizard.action1">
      </action>
   </objectContribution>
</extension>

<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Refactoring Actions"
            id="msc.refactor.codecleaner.wizard.popup1"
            label="Spartanization"
            visible="true">
         <menu
               label="Refactor"
               path="edit"
               id="org.eclipse.jdt.ui.refactoring.menu">
            <separator name="undoRedoGroup"/>
            <separator name="reorgGroup"/>
            <separator name="codingGroup"/>
            <separator name="reorgGroup2"/>
            <separator name="typeGroup"/>
            <separator name="typeGroup2"/>
            <separator name="codingGroup2"/>
            <separator name="typeGroup3"/>
            <separator name="codeCleanerGroup"/>
            <separator name="scriptGroup"/>
        </menu>
      <menu
               id="il.ac.technion.cs.ssdl.spartan.refactoring.menu"
               label="Code Cleaner"
               path="org.eclipse.jdt.ui.refactoring.menu/codeCleanerGroup">
            <separator name="group" />    
     </menu>
        <action
        	label="Code Cleaner Wizard"
            icon="icons/action.gif"
            class="msc.refactor.codecleaner.wizard.controller.WizardWorkBenchAction"
            id="wizard.action1"            
            enablesFor="*"            
            menubarPath="org.eclipse.jdt.ui.refactoring.menu/il.ac.technion.cs.ssdl.spartan.refactoring.menu/group">            
      </action>       
      <!-- More actions -->
      
    </actionSet>
   </extension>

</plugin>
